<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FULL_PATH_PROGRAM" value="C:\Program Files (x86)\LibreOffice\program\swriter.exe" />
    <add key="SAMPLE_FILES_DIR_PATH" value="D:\DocxTests\Samples"/>
  </appSettings>
</configuration>